
.row {
  margin: 0px !important;
  height: 100%;
}

.search-container {
  background: #333333;
  color : #ffffff;
  height: 100%;
}

.table-container {
  background: #111111;
  color: rgb(241, 234, 234);
  height: 100%;
}

.image-resize {
  height: 200px;
  object-fit: cover;
}

.margin-top {
  margin-top: 20px;
}

.click {
  cursor: pointer;
}

.films {
  height: 100vh;
  display: absolute;
  bottom : 0px;
  padding: 00px 10px 100px 10px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

#films::-webkit-scrollbar {
  width: 0.2em;
}

#films::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

#films::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.head-films {
  width: 100%;
  background: black;
  padding: 20px;
}

.head-films h3,span:nth-child(n) {
  display: inline-flex;
}

.head-films span {
  cursor: pointer;
  margin-left: 20px;
}

.head-films span:hover {
  color : red;
}


.col-9 {
  margin: 0px !important;
  padding: 0px !important;
}

.card {
  border: none !important;
  border-radius: 0px !important;
}

.card-footer {
  padding: 0px !important;
  background: black;
  border-radius: 0px !important;
}

img {
  border-radius: 0px !important; 
}

.icon-start {
  float: right;
  margin: 5px;
  cursor: pointer;
}

.icon-start:hover {
  color : red;
}




/*ESTILOS PARA EL MENU LATERAL*/

.side-head {
  text-align: center;
  width: 100%;
}

.title-flax {
  color : red;
  padding-top: 20px;
  padding-bottom: 20px;
}